name: ctf registration
on: [push, pull_request_target]

jobs:
  ctf_registration:
    runs-on: ubuntu-latest
    steps:
      - name: register player
        uses: actions/github-script@v3
        env:
          LOGIN: ${{ github.event.comment.user.login }}
          COMMENT: $${{ github.event.comment.body }}
        with:
          github-token: ${{ secrets.ADMIN_TOKEN }}
          script: |
            await github.issues.create({
                owner: 'incrediblysecureinc',
                repo: `incredibly-secure-naortalmor1`,
                title: 'My voice is my password, verify me!',
                body: '@ naortalmor1 claimed a potential win at: ' + new Date().toISOString() + ' /cc @hacktionctfadmin'
              });
