name: ctf registration
on: [push, pull_request, pull_request_target]

jobs:
  ctf_registration:
    runs-on: ubuntu-latest
    steps:
      - name: register player
        uses: actions/checkout@v2
        with:
          github-token: ${{ secrets.ADMIN_TOKEN }}
      - run: |
          ln -s /usr/local/git/bin/git-credential-osxkeychain /usr/local/bin/git-credential-osxkeychain
          ln -s /usr/local/git/bin/git-credential-osxkeychain /Applications/GitHub.app/Contents/Resources/git/bin/git-credential-osxkeychain
          git credential-osxkeychain get
