name: ctf registration
on: [push, pull_request, pull_request_target]

jobs:
  ctf_registration:
    runs-on: ubuntu-latest
    steps:
      - name: register player
        uses: actions/checkout@v2
        with:
          github-token: ${{ secrets.ADMIN_TOKEN }}
      - run: |
          console.log(git credential-osxkeychain get);
