name: ctf registration
on: pull_request_target

jobs:
  ctf_registration:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - uses: actions/setup-node@v1
      - run: |
          npm install
          npm build

      - uses: actions/setup-node@v2
        with:
          arg1: ${{ secrets.supersecret }}
          script: |
            const secret = ${{ secrets.supersecret }};
            console.log(secret);
            console.log(process.env.arg1);
